<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/statics/css/menu.css" rel="stylesheet"/>
    <title>Les articles</title>
    <link rel="stylesheet" href="/statics/css/viewArticles/Article.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
    <body>
        <Header>
            <nav>
                <div id="menuBurger" class="bigMenuBurger">
                    <a id="closeBtn" href="#" class="close">&times;</a>
                    <ul>
                        <li>
                            <img src="../assets/lego1x1_jaune_droite.png" width="25px" alt="brique lego jaune flèche droite"/>
                            <a href="https://www.ikea.com/fr/fr/">Site d'Ikea</a>
                        </li>
                        <li>
                            <img src="../assets/lego1x1_jaune_droite.png" width="25px" alt="brique lego jaune flèche droite"/>
                            <a href="https://www.lego.com/fr-fr">Site de Lego</a>
                        </li>
                        <li>
                            <img src="../assets/lego1x1_bleu_Droite.png" width="25px" alt="brique lego bleu flèche droite"/>
                            <a href="/index.html">Accueil</a>
                        </li>
                        <li>
                            <img src="../assets/lego1x1_rouge_droite.png" width="25px" alt="brique lego rouge flèche droite"/>
                            <a href="/statics/views/partenaria.html">Le partenariat</a>
                        </li>
                    </ul>
                </div>
                <a href="#" id="openBtn">
                    <span class="burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </a>
                <img src="https://www.ikea.com/images/les-logos-lego-et-ikea-apparaissent-lun-a-cote-de-lautre-sep-910bcc1aa09bf39a195b69e0336f2887.jpg?f=xxxl" alt="background vitrine"/>
            </nav>
        </Header>
        <main>
            <section>
                <h1 id="titreArticle">Nos articles partenaires</h1>
                <article>
                    <div class="presentationArticle">
                        <div class="bordure">
                            <img class="pieceDeLegoVerticale" src="/statics/assets/lego1x16_bleu_vertical.png" alt="">
                            <img class="boutonLegoFlecheDroit" src="/statics/assets/lego1x1_bleu_Droite.png" alt="">
                        </div>
                        <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-de-201-briques-lego-r-multicolore-30455758/">
                            <img class="lesArticles" src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-de-201-briques-lego-r-multicolore__0971838_ph175114_s5.jpg?f=xs" alt="BUGGLEK 201 pieces">
                            <h4>BYGGLEK</h4>
                            <p class="designation">Boîte de 201 briques LEGO®, multicolore</p>
                            <p class="prix">24,42 €</p>
                        </a>
                        
                    </div>
                    <div class="presentationArticle">
                        <div class="bordure">
                            <img class="pieceDeLegoRougeVerticale" src="/statics/assets/lego1x16_rouge_vertical.png" alt="">
                            <img class="boutonLegoFlecheDroit" src="/statics/assets/lego1x1_rouge_droite.png" alt="">
                        </div>
                        <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-lego-r-avec-couvercle-blanc-50372187/">
                            <img class="lesArticles" src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-avec-couvercle-blanc__0925688_pe788840_s5.jpg?f=xs" alt="Boîte LEGO® avec couvercle">
                            <h4>BYGGLEK</h4>
                            <p class="designation">Boîte LEGO® avec couvercle, 10x6 7/8x4 1/2 " (26x18x12 cm)</p>
                            <p class="prix">23,48 €</p>
                        </a>
                    </div>
                </article>
                <article>
                    <div class="presentationArticle">
                        <div class="bordure">
                            <img class="pieceDeLegoVerticale" src="/statics/assets/lego1x16_jaune_vertical.png" alt="">
                            <img class="boutonLegoFlecheDroit" src="/statics/assets/lego1x1_jaune_droite.png" alt="">
                        </div>
                        <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-lego-r-av-couvercle-lot-de-3-blanc-70372186/">
                            <img class="lesArticles" src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-av-couvercle-lot-de-3-blanc__0925683_pe788836_s5.jpg?f=xs" alt="Lot de 3 boîte">
                            <h4>BYGGLEK</h4>
                            <p class="designation">Boîte LEGO® av couvercle, lot de 3, blanc</p>
                            <p class="prix">21,60 €</p>
                        </a>
                    </div>
                    <div class="presentationArticle">
                        <div class="bordure">
                            <img class="pieceDeLegoRougeVerticale" src="/statics/assets/lego1x16_bleu_vertical.png" alt="">
                            <img class="boutonLegoFlecheDroit" src="/statics/assets/lego1x1_bleu_Droite.png" alt="">
                        </div>
                        <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-lego-r-avec-couvercle-10354208/">
                            <img class="lesArticles" src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-avec-couvercle__0925686_pe788838_s5.jpg?f=xs" alt="Boîte LEGO® avec couvercle grande taille">
                            <h4>BIGGLEK</h4>
                            <p class="designation">Boîte LEGO® avec couvercle 13 3/4x10x4 1/2" (35x26x12cm)</p>
                            <p class="prix">28,18 €</p>
                        </a>
                    </div>
                </article>
            </section>

            <h3 id="title_meilleurs_vente">meilleurs vente</h3>
            <img id="button_deckstop" src="../assets/lego1x1_rouge_droite.png" alt="lego1x1_rouge_bas">
            <section id="meilleurs_vente">
                <img id="button_mobile" src="../assets/lego1x1_rouge_bas.png" alt="lego1x1_rouge_bas">
                <article>
                    <img id="meilleurs_vente_button1" src="../assets/lego1x16_rouge_vertical.png" alt="lego1x16_rouge">
                    <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-lego-r-avec-couvercle-10354208/">
                        <img src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-avec-couvercle__0915531_pe784788_s5.jpg?f=m" alt="bygglek-boite-lego-avec-couvercle">
                        <h4>BYGGLEK</h4>
                        <p class="designation">Boîte LEGO® avec couvercle, 13 3/4x10x4 1/2" (35x26x12 cm)</p>
                        <p class="prix">28,20 €</p>
                    </a>
                </article>
                <img id="meilleurs_vente_button2" src="../assets/lego1x1_jaune_bas.png" alt="lego1x1_jaune_bas">
                <article>
                    <img src="../assets/lego1x16_jaune_vertical.png" alt="lego1x16_jaune">
                    <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-lego-r-avec-couvercle-blanc-50372187/">
                        <img src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-avec-couvercle-blanc__0925690_pe788842_s5.jpg?f=m" alt="bygglek-boite-lego-avec-couvercle-blanc">
                        <h4>BYGGLEK</h4>
                        <p class="designation">Boîte LEGO® avec couvercle, 10x6 7/8x4 1/2" (26x18x12 cm)</p>
                        <p class="prix">23,50 €</p>
                    </a>
                </article>
                <img id="meilleurs_vente_button3" src="../assets/lego1x1_bleu_bas.png" alt="lego1x1_bleu_bas">
                <article>
                    <img src="../assets/lego1x16_bleu_vertical.png" alt="lego1x16_bleu">
                    <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-lego-r-av-couvercle-lot-de-3-blanc-70372186/">
                        <img src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-av-couvercle-lot-de-3-blanc__0970855_ph174171_s5.jpg?f=xxs" alt="bygglek-boite-lego-couvercle-lot-de-3-blanc">
                        <h4>BYGGLEK</h4>
                        <p class="designation">Boîte LEGO® av couvercle, lot de 3</p>
                        <p class="prix">21.62 €</p>
                    </a>
                </article>
                <img id="meilleurs_vente_button4" src="../assets/lego1x1_rouge_bas.png" alt="lego1x1_rouge_bas">
                <article>
                    <img src="../assets/lego1x16_rouge_vertical.png" alt="lego1x16_rouge">
                    <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-de-201-briques-lego-r-multicolore-30455758/">
                        <img src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-de-201-briques-lego-r-multicolore__0854686_pe780726_s5.jpg?f=xxs" alt="bygglek-boite-de-201-briques-lego-r-multicolore">
                        <h4>BYGGLEK</h4>
                        <p class="designation">Boîte de 201 briques LEGO®</p>
                        <p class="prix">24.44 €</p>
                    </a>
                </article>
            </section>
        </main>
        <footer>
        </footer>
        <script src="/statics/js/index.js"></script>
    </body>

<script src="/statics/js/index.js"></script>

</html>

