<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les articles</title>
</head>
<body>
    <Header>

    </Header>
    <main>
        <section>
            <article>
                <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-de-201-briques-lego-r-multicolore-30455758/">
                    <img src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-de-201-briques-lego-r-multicolore__0971838_ph175114_s5.jpg?f=xs" alt="BUGGLEK 201 pieces">
                    <h4>BYGGLEK</h4>
                    <p class="designation">Boîte de 201 briques LEGO®</p>
                    <p class="prix">24,42 €</p>
                </a>
                <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-lego-r-avec-couvercle-blanc-50372187/">
                    <img src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-avec-couvercle-blanc__0925688_pe788840_s5.jpg?f=xs" alt="Boîte LEGO® avec couvercle">
                    <h4>BYGGLEK</h4>
                    <p class="designation">Boîte LEGO® avec couvercle</p>
                    <p class="prix">23,48 €</p>
                </a>
                <a href="https://www.ikea.com/ca/fr/p/bygglek-boite-lego-r-av-couvercle-lot-de-3-blanc-70372186/">
                    <img src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-av-couvercle-lot-de-3-blanc__0925683_pe788836_s5.jpg?f=xs" alt="Lot de 3 boîte">
                    <h4>BYGGLEK</h4>
                    <p class="designation">Boîte LEGO® av couvercle, lot de 3</p>
                    <p class="prix">21,60 €</p>
                </a>
            </article>
            <article>
            </article>
        </section>

    </main>
    <footer>

    </footer>
</body>
</html>