<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les articles</title>
</head>
<body>
    <Header>

    </Header>
    <main>
        <section>
            <a href="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-avec-couvercle__0915531_pe784788_s5.jpg?f=m">
                <img src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-avec-couvercle__0915531_pe784788_s5.jpg?f=m" alt="bygglek-boite-lego-avec-couvercle">
                <h4>BYGGLEK</h4>
                <p>Boîte LEGO® avec couvercle, 13 3/4x10x4 1/2 " (35x26x12 cm)</p>
                <p>29,99$</p>
            </a>
            <a href="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-avec-couvercle-blanc__0925690_pe788842_s5.jpg?f=m">
                <img src="https://www.ikea.com/ca/fr/images/products/bygglek-boite-lego-r-avec-couvercle-blanc__0925690_pe788842_s5.jpg?f=m" alt="bygglek-boite-lego-avec-couvercle-blanc">
                <h4>BYGGLEK</h4>
                <p>Boîte LEGO® avec couvercle, 10x6 7/8x4 1/2 " (26x18x12 cm)</p>
                <p>24,99$</p>
            </a>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>