<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partenariat Ikea | Lego</title>
    <meta name="description" content="Découvrer le parcours fléché pour découvrir la nouvelle collection BYGGLEK. Le partenariat de Ikea et Lego"/>
    <link href="../css/viewPartenaria/partnership.css" rel="stylesheet"/>
    <link href="../css/menu.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div id="menuBurger" class="bigMenuBurger">
                <a id="closeBtn" href="#" class="close">&times;</a>
                <ul>
                    <li>
                        <a href="https://www.ikea.com/fr/fr/">Site d'Ikea</a>
                    </li>
                    <li>
                        <a href="https://www.lego.com/fr-fr">Site de Lego</a>
                    </li>
                    <li>
                        <a href="/statics/views/article.html">Les produits
                            <img src="../assets/lego1x1_bleu_Droite.png" width="50px" alt="brique lego bleu flèche droite"/>
                        </a>
                    </li>
                    <li>
                        <a href="/statics/views/partenaria.html">Le partenariat
                            <img src="../assets/lego1x1_rouge_droite.png" width="50px" alt="brique lego rouge flèche droite"/>
                        </a>
                    </li>
                </ul>
            </div>
              
            <a href="#" id="openBtn">
                <span class="burger-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
            </a>

            <img src="https://www.ikea.com/images/les-logos-lego-et-ikea-apparaissent-lun-a-cote-de-lautre-sep-910bcc1aa09bf39a195b69e0336f2887.jpg?f=xxxl" alt="background vitrine"/>
        </nav>

    </header>
    <div id="legoSeparateRed"><img src="../assets/lego1x1_bleu_bas.png" alt="lego bleu flech vers le bas"></div>
    <main>
        <section id="partnershipPresentation">
            <article id="introduction">
                <h2>On vous dit tout sur le partenariat !</h2>
                <p>
                    Les marques IKEA® et LEGO® se sont associées afin de créer une gamme de rangements simples pour les enfants et les adultes. D’où vient cette idée ? Du jeu, bien sûr !
                </p>
                <div>

                    <iframe  src="https://www.youtube.com/embed/u3uSTxdjwNA" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    
                    <iframe  src="https://www.youtube.com/embed/yaQGKwloNpE" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </article>
            <div id="legoSeparateYellow"><img src="../assets/lego1x1_bleu_bas.png" alt="lego bleu flech vers le bas"></div>
            <article id="videoPresentation">
                <iframe  src="https://www.youtube.com/embed/dG4YgQ_a65w" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt doloribus amet explicabo eaque ab tempora cupiditate accusamus sit enim voluptatibus, exercitationem corporis rem est obcaecati natus id officiis, tempore similique?</p>
            </article>
        </section>
    </main>
    <footer>

    </footer>

</body>
<script  src="../js/index.js"></script>
</html>