body{
    max-width: 1440px;
}
section{
    flex-direction: column;
}
.presentationArticle{
    display: flex;
    margin: 5vw 0;
}
.bordure{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}
.lesArticles{
    width: 70vw;
    height: 60vw;
}
.pieceDeLegoVerticale{
    height: 60vw;
    margin-right: 2vw;
}
.pieceDeLegoRougeVerticale{
    height: 60vw;
    margin-right: 2vw;
}
.boutonLegoFlecheDroit{
    margin-left: 0.5vw;
    width: 10vw;
}
a{
    text-decoration: none;

    color: black;
}
h4, .prix{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
}
p{
    width: 70vw;
    font-family: 'Noto Sans', sans-serif;
}

#meilleurs_vente{
    padding-left: 5%;
    padding-right: 5%;
}
#meilleurs_vente h3{
    text-align: center;
}
#meilleurs_vente > img{
    width: 12vw;
    max-width: 125px;
    margin: 0;

}
#meilleurs_vente article{
    display: flex;
    justify-content: space-between;
    height: 46vh;
}
#meilleurs_vente article > img{
    height: 100vw;
    max-height: 45vh;
    width: 14vw;
    max-width: 150px;
    margin: 0px;
}
#meilleurs_vente > article a img{
    width: 100%;
    max-width: max-content;
    max-height: 100%;
}
#meilleurs_vente > article a{
    width: 75%;
    margin: 0px;
    font-family: sans-serif;
    text-decoration: none;
}

@media screen and (min-width: 900px ) {
    article{
        display: flex;
        flex-direction: row;
        width: 95vw;
}
@media screen and (min-width : 1200px) {
    #meilleurs_vente article{
        display: flex;
        justify-content: space-between;
        height: 100vh;
    }
    #meilleurs_vente > article a img{
        width: 100%;
        max-width: max-content;
        max-height: 88%;
    }
}