body{
    max-width: 1440px;
    background-color: white;
}
#titreArticle{
    width: 80vw;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}
section{
    flex-direction: column;
}
.presentationArticle{
    display: flex;
    margin: 5vw 0;
}
.bordure{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}
.lesArticles{
    width: 70vw;
    height: 60vw;
}
.pieceDeLegoVerticale{
    height: 60vw;
    margin-right: 2vw;
}
.pieceDeLegoRougeVerticale{
    height: 60vw;
    margin-right: 2vw;
}
.boutonLegoFlecheDroit{
    margin-left: 0.5vw;
    width: 10vw;
}
a{
    text-decoration: none;
    color: black;
}
h4, .prix{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
}
p{
    width: 70vw;
    font-family: 'Noto Sans', sans-serif;
}

#button_deckstop{
    display: none;
    width: 12vw;
    max-width: 80px;
    margin: 0;
}
#meilleurs_vente{
    padding-left: 5%;
    padding-right: 5%;
}
#title_meilleurs_vente{
    float: center;
    text-align: center;
    background-color: #0058AB;
    width: 200px;
    color: #fff;
    margin-top: 50px;
}
#meilleurs_vente > img{
    width: 12vw;
    max-width: 80px;
    margin: 0;
}
#meilleurs_vente article{
    display: flex;
    justify-content: space-between;
    height: 50vh;
}
#meilleurs_vente article > img{
    height: 100vw;
    max-height: 45vh;
    width: 14vw;
    max-width: 80px;
    margin: 0px;
}
#meilleurs_vente > article a img{
    width: 100%;
    max-width: max-content;
    max-height: 80%;
}
#meilleurs_vente > article a{
    width: 75%;
    margin: 0px;
    font-family: sans-serif;
    text-decoration: none;
}
@media screen and (min-width: 1200px ) {
    article{
        display: flex;
        flex-direction: row;
        height: 650px;
    }
    .pieceDeLegoVerticale{
        padding-top: 20px;
        height: 400px;
        margin-right: 10px;
    }
    .pieceDeLegoRougeVerticale{
        padding-top: 20px;
        height: 400px;
        margin-right: 10px;
    }
    .boutonLegoFlecheDroit{
        margin-left: 10px;
        padding-top: 50px;
        width: 50px;
    }
    section a, .lesArticles{
        width: 500px;
        height: 460px;
        margin-right: 200px;
    }
    section p{
        width: 500px;
    }
}
@media screen and (min-width : 1200px) {
    #button_deckstop{
        display: block;
    }
    #meilleurs_vente{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0px;
    }
    #meilleurs_vente article{
        height: 50vh;
        width: auto;
        margin: 0px;
    }
    #meilleurs_vente > article a img{
        width: 100%;
        max-width: max-content;
        max-height:60%;
    }
    #meilleurs_vente > article a{
        width: 300px;
    }
    #meilleurs_vente > article:first-of-type a{
        margin-left: 50px;
    }
    #meilleurs_vente > article a p{
        width: 100%;
    }
    #meilleurs_vente > img, #meilleurs_vente article:not(:first-of-type) > img{
        display: none;
    }
}
