section{
    flex-direction: column;
}
.presentationArticle{
    display: flex;
}
.lesArticles{
    width: 320px;
    height: 300px;
}
.pieceDeLegoJauneVerticale{
    height: 325px;
}

.boutonLegoFlecheDroit{
    width: 70px;
}
a{
    text-decoration: none;
}
h4{
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-weight: bolder;
}
p{
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

#meilleurs_vente{
    padding-left: 5%;
    padding-right: 5%;
}
#meilleurs_vente h3{
    text-align: center;
    margin-top: 5vh;
}
#meilleurs_vente > img{
    width: 12vw;
    margin: 0;
}
#meilleurs_vente article{
    display: flex;
    justify-content: space-between;
    height: 46vh;
}
#meilleurs_vente article > img{
    height: 100vw;
    max-height: 45vh;
    margin: 0px;
}
#meilleurs_vente > article a img{
    width: 100%;
    max-height: 100%;
}
#meilleurs_vente > article a{
    width: 70%;
    margin: 0px;
    font-family: sans-serif;
    text-decoration: none;
}