* {
  margin: auto;
}

header > nav {
  display: flex;
  align-items: center;
  width: 100%;
}

header > nav > img {
  height: auto;
  width: 70%;
}

.bigMenuBurger {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #ffffff;
  padding-top: 60px;
  transition: left 0.5s ease;
}

.bigMenuBurger ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidenav menu links */
.bigMenuBurger a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.bigMenuBurger a:hover {
  color: #111;
}

/* Active class */
.bigMenuBurger.active {
  left: 0;
}

/* Close btn */
.bigMenuBurger.close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}


header > section {
  background-color: white;
  background-image: url(https://www.ikea.com/ext/ingkadam/m/5834b9765023c162/original/PH175136.jpg?f=sg);
  background-repeat: no-repeat;
  background-size: 120%;
  height: 250px;
  
}

header h1, header h2 {
  background-color: rgba(255, 255, 255, 0.592);
}





