header > section {
    background-color: white;
    background-image: url(https://www.ikea.com/ext/ingkadam/m/5834b9765023c162/original/PH175136.jpg?f=sg);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    height: 250px;
    padding: 55px 20px 0px 20px;
}
  
header h1, header h2 {
  background-color: rgba(255, 255, 255, 0.625);
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
  border-color: 5px blue;

}


header h2 {
  width: 65%;
  margin: 0;
}