header > section {
    background-color: white;
    background-image: url(https://www.ikea.com/ext/ingkadam/m/5834b9765023c162/original/PH175136.jpg?f=sg);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    height: 250px;
    padding: 55px 20px 0px 20px;
}
  
header h1, header h2 {
  background-color: rgba(255, 255, 255, 0.625);
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
}

header p {
  background-image: -webkit-linear-gradient(#003399 60%, black 40%);
  background-size: 100% 50px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: stripes 6s linear infinite;
  animation: stripes 2s linear infinite;
}

header h2 {
  width: 65%;
  margin: 0;
}

section {
  background-position: center;
  flex-wrap: nowrap;
  margin-left: 380px;
  gap: 1px;
}

main > section > p {
  font-family: 'Noto+Sans',
  font-size: 50pt;
  text-align: center;
}

@-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}
@keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}
.footer{
    display: block;
    background:blue;
    width: max-content;
    height:25px;
  }
